<h1>New Customer</h1>


<div class="form">
<%= render 'form' %>
</div>

<% if @customer.errors.present? %>
  <ul>
  <% @customer.errors.full_messages.each do |e| %>
  <li><%= e %></li>
  <%end%>
  
  </ul>

  <%end%>

  <p>Already have an account? <%= link_to "Log In", log_in_path %></p>